.blog-main {
  h2 {
    padding: 0 1rem;
  }
  > p {
    padding: 0 1rem;
  }
  em {
    color : #e31223;}
  > ul,
  > ol { 
    margin-left: 1rem;
    margin-right: 1em;
    >li {
      word-break: keep-all;
    }
    ul,
    ol {
      >li {
        &:not(first-child){
          margin-top: 0.625rem;
        }
        margin-top: 0.625rem;
      }
      margin-left: -1.25rem;
      padding: 0 0 0 1.25rem;
    }
  }
  ul,
  ol {
    em {
      font-style: normal;
    }
  }
  li {
    blockquote {
      em {
        color : #1250e3;
      }
      margin-top: 10px;
    }
  }

  
}